
.new-station-btn {
    font-weight: 700;
}

.main-header-container {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    min-height: 20rem;
    max-height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #647a7b;
    color: white;
}

.header-container {
    display: none;
}

.header-container-mobile {
    display: initial;
    text-align: center;
    font-size: 3.5vw; 
}

.sec-line {
    margin-left: 1rem;
}

.main-content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 3rem 2.5rem;
}

.main-content-container h2, .main-content-container h3 {
    text-align: center;
    font-weight: 400;

    margin: 1rem 0;
}

.content-with-icon {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2rem 0;
}

.content-with-icon img {
    width: 70%;
    height: 70%;
    max-width: 15rem;
    max-height: 15rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 428.57px) {
    .header-container-mobile { 
        font-size: inherit;
    }
}

@media screen and (min-width: 701px) {
    
    .header-container {
        display: initial;
    }

    .header-container-mobile {
        display: none;
    }

    .main-content-container {
        margin: 4rem;
    }

    .content-with-icon {
        flex-flow: row;
        font-size: 1.2rem;
    }

    .content-with-icon img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 0;
        margin-right: 2rem;
    }
    
}
